{% extends "base.html" %}

{% load mathfilters %}

{% load humanize %}


{% block title %}
  Shopcart
{% endblock title %}


{% block content %}
<div class="container-fluid mt-5 mb-5" >
    <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-2"></div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-8">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Delete</th>
                    <th scope="col">Product</th>
                    <th scope="col">Image</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Quantity Update</th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>  
                    {% if cart %}
                         {% for item in cart  %}         
                         <tr>
                             <td>
                                <form method="POST" action="{% url 'deleteitem' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="itemid" value="{{item.id}}">
                                    <button type="submit" class="btn btn-primary">&times;</button>
                                </form>
                             </td>
                             <th scope="row">{{item.product.image}}</th>
                             <td><img src="{{item.product.image.url}}" width="70px"></td>
                             <td>{{item.product.price}}</td>
                             <td>{{item.quantity}}</td>
                             <td>{{item.product.price|floatformat:2|intcomma}}</td>
                             <td>
                                <form style="width: 400px;" method="POST" action="{% url 'increase' %}">
                                    {% csrf_token %}
                                    <input type="number" name="itemval" value="{{item.quantity}}" max="{{item.max}}" min="{{item.min}} style="width: 40px;">
                                    <input type="hidden" name="valid" value="{{item.id}}">
                                    <button type="submit" class="btn btn-success">&checkmark;</button>
                                </form>
                             </td>
                             <td><td>{{item.product.price|mul:item.quantity|floatformat:2|intcomma}}</td></td>
                         </tr>
                            {% endfor %}  
                       {% endif %}
                </tbody>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Subtotal:{{subtotal}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Vat:{{vat}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Total:{{total}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><a href="{% url 'checkout' %}">Checkout</a></td>
                    </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-2"></div>
        </div>
    </div>

{% endblock content %}