{% extends "base.html" %}

{% block title %}
  Subscription Packages
{% endblock title %}

 
{% block content %}
<!-- content section -->
<div class="container-fluid" style="background: #f0f0f0;">
    <div class="row mt-5 mb-5">
        {% if categories %}
            {% for item in categories %}
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-3 mt-3 w-25 ml-5 mr-5">
                    <div class="card w-100 text-center pt-3">
                        <img src="{{item.image.url}}" class="card-img-top w-100">
                        <a href=""><h5 class="card-title">{{item.title}}</h5>
                        <div class="card-body mt-3">
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
<!-- content section done -->

  
{% endblock content %}
