{% extends "base.html" %}

{% load mathfilters %}

{% load humanize %}


{% block title %}
  Checkout
{% endblock title %}


{% block content %}
<div class="container-fluid mt-5 mb-5">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Image</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>  
                    {% if cart %}
                         {% for item in cart  %}
                                                    
                         <tr>
                             <th scope="row">{{item.product.name}}</th>
                             <td><img src="{{item.product.image.url}}" width="70px"></td>
                             <td>{{item.quantity}}</td>
                             <td>{{item.quantity|floatformat:2|intcomma}}</td>
                         </tr>
                            {% endfor %}  
                       {% endif %}
                </tbody>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Total:{{total}}</td>
                    </tr>
                </tbody>
              </table>
                
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <form style="width: 400px;" method="POST" action="{% url 'placeorder' %}">
                {% csrf_token %}
                    <div class="form-group">
                      <input type="text" name="first_name" placeholder="First Name" class="form-control" id="exampleInputText1">
                    </div>
                    <div class="form-group">
                      <input type="text" name="last_name" placeholder="Last Name" class="form-control" id="exampleInputText1">
                    </div>
                    <div class="form-group">
                      <input type="text" name="phone" placeholder="Phone Number" class="form-control" id="exampleInputText1">
                    </div>
                    <div class="form-group">
                      <input type="text" name="address" placeholder="Address" class="form-control" id="exampleInputText1">
                    </div>
                    <div class="form-group">
                      <input type="text" name="city" placeholder="City" class="form-control" id="exampleInputText1">
                    </div>
                    <div class="form-group">
                      <input type="text" name="state" placeholder="State" class="form-control" id="exampleInputText1">
                    </div>
                    <div class="form-group">
                      <input type="hidden" name="total" value="{{total}}" class="form-control" id="exampleInputText1">
                      <input type="hidden" name="cart_code" value="{{cart_code}}" class="form-control" id="exampleInputText1">
                    </div>
                    <button type="submit" class="btn btn-primary">Place order</button> 
                  </form>
            </div>
        </div>

    </div>
{% endblock content %}