{% extends 'base.html' %}

{% block title %}
  Home
{% endblock title %}


{% block banner %}
  {% include "banner.html" %}
{% endblock banner %}



{% block content %}
<!-- child one -->

 <div class="container-fluid" style="padding: 80px 0; "> 
    <h1 class="text-center mb-4">Foreign Movies</h1>
        <div class="row">
            {% if foreign %}
                {% for item in foreign %}
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-3 mt-3 w-75" >
                        <div  class="cont" style="margin-left: 5em;">
                            <img src="{{item.image.url}}" class="card-img-top" style="border: 2px solid white; box-shadow: 0 0 10px 0 green; width: 200px;">
                            <div id="overlay" class="card-body">
                                <div class="text">
                                    <h5 class="card-title">{{item.name}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
</div>    
<!-- child one done -->

<!-- child two -->
    <div class="container-fluid" style="padding: 50px 0;">
        <h1 class="text-center mb-4">Local Movies</h1>
        <div class="row">
            {% if local %}
                {% for item in local %}
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-3 mt-3 w-25">
                        <div class="cont" style="margin-left: 5em;">
                            <img src="{{item.image.url}}" class="card-img-top"  style="border: 2px solid white; box-shadow: 0 0 10px 0 green; width: 200px;">
                            <div id="overlay" class="card-body">
                            <div style="text-decoration-thickness: 1em;" class="text">
                                <h5 class="card-title">{{item.name}}</h5>
                            </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
    </div>
</div>
    <!-- child two done -->
        

<!-- child three -->
<div class="container-fluid" style="padding: 80px 0 150px;">
        <h1 class="text-center mb-4">Latest Movies</h1>
        <div class="row">
            {% if latest %}
                {% for item in latest %}
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-3 mt-3 w-25">
                        <div class="cont" style="margin-left: 5em;" width="50em">
                            <img src="{{item.image.url}}" class="card-img-top"  style="border: 2px solid white; box-shadow: 0 0 10px 0 green; width: 200px;">
                                <div id="overlay" class="card-body">
                                    <div style="text-decoration-thickness: 1em;" class="text"> 
                                        <h5 class="card-title">{{item.name}}</h5>
                                    </div>
                                </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
</div>    
<!-- child three done -->

{% endblock content %} 