{% extends "base.html" %}

{% block title %}
   Membership 
{% endblock title %}


{% block content %}
  <div class="container-fluid" style="background-color: palegoldenrod;">
      <div class="row">
          <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-1 mt-5 p-5"></div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 p-5">
            <form style="width: 400px;" method="POST" action="{% url 'membership'  newmem.id %}">  
            {% csrf_token %}
                <div class="form-group">
                  <h5 style="color: tomato; text-align: end; text-decoration: underline" >Membership  {{newmem.title}}</h5>
                  <input type="hidden" name="new" value="{{newmem.title}}">
                  <p style="text-decoration: underline; ">Fee  {{newmem.fee}}</p>      
                  <input type="hidden" name="newfee" value="{{newmem.fee}}">
                          
                </div>
                <div class="form-group">
                  <label for="exampleInputText1">First name</label>
                  <input type="text" name="first_name" class="form-control" id="exampleInputText1">
                </div>
                <div class="form-group">
                  <label for="exampleInputText1">Last name</label>
                  <input type="text" name="last_name" class="form-control" id="exampleInputText1">
                </div>
                <div class="form-group">
                  <label for="exampleInputText1">Gender</label>
                  <input type="text" name="gender" class="form-control" id="exampleInputText1">
                </div>
                <div class="form-group">
                  <label for="exampleInputText1">Address</label>
                  <input type="text" name="address" class="form-control" id="exampleInputText1">
                </div>
                <div class="form-group">
                  <label for="exampleInputText1">E-mail</label>
                  <input type="text" name="email" class="form-control" id="exampleInputText1">
                </div>
                <div class="form-group">
                  <label for="exampleInputText1">Phone</label>
                  <input type="text" name="phone" class="form-control" id="exampleInputText1">
                </div>
                <div class="form-group">
                  <label for="exampleInputText1">Username</label>
                  <input type="text" name="username" class="form-control" id="exampleInputText1">
                </div>
                <div class="form-group">
                  <label for="exampleInputText1">Password</label>
                  <input type="password" name="password1" class="form-control" id="exampleInputText1">
                </div>
                <div class="form-group">
                  <label for="exampleInputText1"> Confirm Password</label>
                  <input type="password" name="password2" class="form-control" id="exampleInputText1">
                </div>
                <div class="form-group">
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
              </form>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-3"></div>
      </div>
  </div>
{% endblock content %}