{% extends "base.html" %}

{% block title %}
  Upgrade Membership
{% endblock title %}


{% block content %}
  <div class="container-fluid h-100" style="background-color: teal;">
      <div class="row">
          <div class="col-12 col-sm-6 col-md-6 col-lg-3"></div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 p-5">
            <form style="width: 400px;" method="POST" action="{% url 'memberupgrade' %}">
            {% csrf_token %}
                <div class="form-group">
                  <p>Membership Package</p>
                  <p>{{single.title}}    Membership</p>
                  <input type="hidden" name="mem"  value="{{single.title}}">
                  <p>Fee {{single.fee}}</p>
                  <input type="hidden" name="newfee" value=" {{single.fee}}">
                </div>
                <button type="submit" class="btn btn-primary">Upgrade</button>
              </form>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-3"></div>
      </div>
  </div>
{% endblock content %}


